.App {
  text-align: center;
}

div.container {
  padding: 0;
}

/* Fonts:
font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif; */
/* Header CSS */
.header {
  background-color: #83B4B3;
  text-align: center;
  height: 150px;
}
.h-company {
  font-family: 'Playfair Display', serif;
  color: #D55534;
  padding: 10px 0;
  margin: 0;
}
.h-title {
  font-family: 'Ubuntu', sans-serif;
  color: #FFF0CE;
  font-size: 38px;
}
/* table */
.main-table {
  margin: 40px 0;
  font-family: 'Ubuntu', sans-serif;
}
/* modal */

.modal-view {
  border: solid 5px #383838;
  padding: 25px;
  text-align: center;
}
.modal-name {
  font-family: 'Playfair Display', serif;
}
p {
  font-family: 'Ubuntu', sans-serif;
}
/* Form */
input[type='submit'], #submit-btn {
  background-color: #D55534;
  border: #D55534;
  color: white;
}
form {
  font-family: 'Ubuntu', sans-serif;
  margin: 70px 90px;
}
.form-control {
  font-size: 15px;
}

.nav-style {
  background-color: #D55534;
  padding: 18px;
  color: #383838;
}
.nav-link {
  color: #383838;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}

.nav-link:hover {
  color: white;
}
a#home-btn {
  color:white;
}